.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px 0;

}
.header-menu a{
    display: inline-block;
    margin: 0 10px;
    text-decoration: none;
    color: #6d6d77;
    font-size: 14px;
    letter-spacing: 1.2px;
}
.header-menu a:hover{
    color: #5f9ea0;
}
.gallary-post{
  display: flex;
  justify-content: space-around;
}
.post-header-container{
    text-align: center;
}
.post-image-wrapper{
    /* height: 450px; */
    overflow: hidden;
}
.post-image-wrapper img{
   width: 100%;
   max-height: 100%;
   object-fit: cover;
}
.link{
    color: #5f9ea0;
    border: 1px solid #5f9ea0;
    padding: 2px 10px;
    border-radius: 4px;
    cursor: pointer;
    font-weight: 400;
    letter-spacing: 1px;
}
.link:hover{
    background: #5f9ea0;
    color: white;
    transition: ease-in .3s;
}

