@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;500&display=swap');

*{
    font-family: 'Oswald', sans-serif;
    font-weight: 500;
    /* border: 1.5px solid rgb(75, 120, 141);
    padding: 4px;
    margin: 2px;  */
    box-sizing: border-box;
}

body{
    background-color: #e9eaed;
}

.app{
    width: 90%;
    margin: 0 auto;
}